{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-5">
                <H1 class="text-center">Ki Va Ou ?</H1>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-6"><a href="{{ path("journey_listing_all") }}" class="btn btn-info w-100">Lister les trajets</a></div>
                    <div class="col-lg-6"><a href="{{ path("index") }}" class="btn btn-warning w-100">Reinitialiser le formulaire</a></div>
                </div>
                <div class="text-center journey-form-block">
                    {{ form_start(form, { 'attr': {'class': 'js-journey-form' }}) }}
                    {{ form_row(form.Name) }}
                    {{ form_row(form.Date) }}
                    <ul id="js-journey-listing" class="journey-listing"
                        data-prototype="{{ form_widget(form.JourneyHasSites.vars.prototype)|e }}"
                        data-widget-tags="{{ '<li></li>'|e }}"
                        data-widget-counter="{{ form.children|length }}">
                        {% for JourneyHasSite in form.JourneyHasSites %}
                            <li>
                                {{ form_errors(JourneyHasSite) }}
                                {{ form_widget(JourneyHasSite) }}
                            </li>
                        {% endfor %}

                    </ul>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

                <hr>
                <div class="js-list-sites" id="js-list-sites">
                    <div id="listjs-site-list">

                        {# <input type="text" class="search form-control" id="site-search" placeholder="Rechercher centre"/> #}

                        <div class="row justify-content-center">
                            <div class="col-12 form-group has-feedback">
                                <label class="control-label">Recherche des sites</label>
                                <input type="text" class="search form-control" id="site-search" placeholder="Rechercher centre" autofocus/>
                                <i class="glyphicon glyphicon-search form-control-feedback"></i>
                            </div>
                        </div>

                        <ul class="list" id="site-list">
                            {% for site in sites %}
                                <li class="my-1">
                                    <div class="row">
                                        <div class="col-10 site-name">{# TODO: Need to align v-middle #}
                                            {{ site.name }}
                                        </div>
                                        <div class="col-1">
                                            {#Add a button that will open the popup#}
                                            <button class="js-site-search-button btn btn-secondary"
                                                    id="js-site-search-button-{{ site.id }}" data-markerid="{{ site.id }}">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-lg-9 col-md-7 map-container">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <span id="js-data-elements" data-sites="{{ sites_json }}"></span>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
